.rvbackground{
    background-image: url('../img/rv.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -200px;
    height: 450px;
    width: 100%;
    margin: auto;
}

.pastrigs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.rig1 img, .rig2 img, .rig3 img, .rig4 img, .rig5 img, .rig6 img{
    height: 200px;
    width: 250px;

}

