*{
    font-family: 'Quicksand', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    line-height: 1.7em;
    background-color: black;

}

strong1{
    font-weight: bold;
    color: blue;
}

.container{
    width: 85%;
    margin: auto;
    padding: 30px;
    background-color: white;
}

.container2{
    width: 85%;
    margin: auto;
    background-color: black;
}

/* HEADER */

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    
}

.logo{
    margin-left: 20px;
}

.logo img{
    width: 200px;
    height: auto;
}


                        /* 
                        
                        THIS CSS IS FOR THE HAMBURGER MENU 
                        
                        */


.menu{
    display: none;
    text-align: center;
    width: 100%;

}

.menu a{
    text-decoration: none;
    color: purple;
    margin: 0px 10px;
    line-height: 70px;
    border-bottom: 1px solid #eaeaeb;
    display: block;
}

.nav label{
    margin-left: 85%;
    font-size: 26px;
    cursor: pointer;
    margin-top: 20px;
}

#toggle{
    display: none;
}

#toggle:checked + .menu{
    display: block;
}


.social{
    margin-right: 20px;
    margin-top: 10px;
    text-align: center;
}

.social a{
    padding: 0 5px;
}

.fa-instagram{
    color: purple;
}

.fa-facebook{
    color: navy;
}

.fa-twitter{
    color: lightskyblue;
}

.fa-youtube{
    color: red;
}

                        /* 
                        
                        END OF HAMBURGER MENU CSS
                        
                        */


/* 

****************************
SLIDER CSS IN CSS/SLIDER.CSS 
****************************

*/

/* ABOUT WEBSITE */

/* .about{
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

#about{
    text-align: center;
    padding: 30px;
}

.soldierrv{
    text-align: center;
}

.soldierrv img{
    width: 600px;
    height: auto;
    margin: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-content p{
    margin-right: 50px;
}

.about-content h2{
    text-align: center;
}

/* ROBERT HAMA */

.hama{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 0;
}

.hamaname{
    text-align: center;
    padding: 10px;
}

.hamapic iframe{
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hamapic{
    text-align: right; 
}

#vetlink{
    display: none;
}

/* VET INFO SECTION AND BUTTON */

.vetinfo{
    text-align: center;
    background-color: #F5F3E4;
    height: 150px;
}

#vetinfo{
    float: left;
    margin: 50px 0px 0px 200px;
}

.vetinfobtn{
    height: 50px;
    width: 120px;
    border-radius: 10px;
    margin-top: 50px;
}

/* ABOUT MARK AND FAITH */

.aboutus{
    text-align: center;
}

.edgren1 img{
    width: auto;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    margin: 40px;
}

.edgren2 img{
    width: 500px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    margin: 40px;
}

/* VIDEOS AND PODCASTS SECTIONS */

.videos, .podcasts{
    margin: auto;
}

.videos iframe{
    height: 200px;
    width: auto;
    padding: 0 20px;
}

.spreaker-player{
    height: 300px;
    width: auto;
    padding: 0 20px;
}

.podcasts h2, .videos h2{
    text-align: center;
}

/* AFFILIATES */

.affiliates{
    background-color: #F5F3E4;
    height: 350px;
}

.affiliates h2{
    padding-top: 70px;
    text-align: center;
}

#nsdev{
    height: 100px;
    width: auto;
    margin-bottom: 50px;

}

.affiliates p{
    padding: 20px;
    
}

/* CONTACT CONTAINER AND FORM WIDTH AND POSITION */
.contactus{
    height: 500px;
    text-align: center;
}

.contactus form{
    width: 40%;
    margin: auto;
}

/* FOOTER */

.footer{
    text-align: center;
}

.footer a{
    text-decoration: none;
}

strong{
    color: #651778;
}


/* MEDIA QUERIES */


@media (max-width: 996px){
    header{
        display: block;
        text-align: center;
    }
    
    .nav label{
        margin: auto;
        padding: 20px;
    }
    .about{
        display: block;
        text-align: center;

    }

    .hama{
        display: block;
        text-align: center;
        margin: auto;
    }

    .hamapic{
        padding: 0;
        margin: auto;
    }

    .aboutus{
        display: block;
        text-align: center;
    }

    .edgren1{
        text-align: center;
        width: auto;
        padding: 30px 0;
    }

    .edgren2{
        text-align: center;
        width: auto;
        padding: 30px 0;
    }

    #vetlink{
        display: block;
        font-weight: bold;
        font-size: 26px;
        margin: 60px 0px;
    }

    .vetinfo{
        display: none;
    }

    .videos, .podcasts{
        text-align: center;
        display: block;
        margin-top: 10px;
    }

    .videos iframe{
        height: 300px;
        width: auto;
        padding: 20px 0px;
    }
    
    .spreaker-player{
        height: 300px;
        width: auto;
        padding: 20px 0px;
    }


}

@media (max-width: 1200px){

    .soldierrv img{
        margin: 30px 0;
    }

    .aboutus{
        display: block;
        text-align: center;
    }

    .edgren1{
        text-align: center;
        width: auto;
        padding: 30px 0;
    }

    .edgren2{
        text-align: center;
        width: auto;
        padding: 30px 0;
    }



}

@media (max-width: 580px){

    .logo img{
        width: 250px;
        height: auto;
        margin-left: 0;
    }
    
    .about-content p{
        margin-right: 0px;
    }


    .edgren1, .edgren2{
        text-align: center;
    }

    .edgren1 img{
        width: 250px;
        height: auto;
        margin: 0px;
    }

    .edgren2 img{
        width: 250px;
        height: auto;
        margin: 0px;
    }

    .soldierrv img{
        width: 300px;
        height: auto;
    }

    #hamaname{
        width: 280px;
        height: auto;
        text-align: center;
    }

    .hamapic iframe{
        width: 275px;
        height: 200px;
    }

    .videos iframe{
        height: 250px;
        width: auto;
        padding: 20px 0px;
        margin: 0px;
    }
    
    .spreaker-player{
        height: 250px;
        width: auto;
        padding: 20px 0px;
        margin: 0px;
    }
}