body{
    margin: 0px;
    padding: 0px;
    line-height: 1.7em;
    font-family: arial, Arial, Helvetica, sans-serif;

}

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.logo{
    margin-left: 20px;
}

.nav{
    text-align: center;

}

.nav a{
    text-decoration: none;
    color: blue;
    padding: 0 10px;
}

.nav a:hover{
    color: black;
}

.social{
    text-align: right;
    margin-right: 20px;
}

.jumbotron{
    background: url('../img/justplayin.jpg') no-repeat;
    background-size: 70%;
    background-position-x: 50%;
    width: 100%;
    height: 500px;
    border: 1px black solid;
}