#crisis{
    color: red;
}

.resources a{
    display: block;

}

.resources h3{
    margin-top: 50px;
}

.resources h1{
    text-align: center;
}

.hama{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 0;
}

.hamaname{
    text-align: center;
    padding: 10px;
}

.hamapic iframe{
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hamapic{
    text-align: right; 
}

@media (max-width: 1200px){
    .hama{
        display: block;
        text-align: center;
        margin: auto;
    }

    .hamaname{
        text-align: center;
    }

    .hamapic{
        text-align: center;
    }

    .hamapic iframe{
        margin: 40px 0px;
        padding: 0px;
        width: 400px;
    }
}